Repository mithun-sri/speed-reader: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init, typecheck_frontend, typecheck_backend, check_lint_frontend, check_lint_backend, check_format_frontend, check_format_backend, unit_test_frontend, unit_test_backend

.gitlab-ci.yml:

stages:
  - init
  - check
  - test
  - deploy

variables:
  # Disable shallow clone which is not supported by Dokku.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0
  STAGING_URL: ssh://dokku@cloud-vm-42-173.doc.ic.ac.uk:22
  PROD_URL: ssh://dokku@cloud-vm-42-228.doc.ic.ac.uk:22

# Dummy job that always passes
# so that MRs without any pipeline runs can be merged.
# https://stackoverflow.com/questions/69799364/in-gitlab-how-to-set-pipelines-must-succeed-only-for-specific-branches-but-no
init:
  stage: init
  except:
    changes:
      - frontend/**/*
      - backend/**/*
  script:
    - echo "Initialising"

.frontend:
  tags: [private]
  image: node:21
  only:
    changes:
      - frontend/**/*
  cache:
    - key:
        files:
          - frontend/yarn.lock
      paths:
        - frontend/node_modules
  before_script:
    - cd frontend
    - yarn install

.backend:
  tags: [private]
  image: python:3.12
  only:
    changes:
      - backend/**/*
  cache:
    - key:
        files:
          - backend/poetry.lock
      paths:
        - backend/.venv
  before_script:
    - cd backend
    - pip install poetry==1.6.1
    - poetry config virtualenvs.in-project true
    - poetry install

.deploy:
  tags: [private]
  image: dokku/ci-docker-image
  stage: deploy
  script:
    - dokku-deploy
  after_script:
    - dokku-unlock

typecheck_frontend:
  extends: .frontend
  stage: check
  script:
    - yarn tsc --noEmit

typecheck_backend:
  extends: .backend
  stage: check
  script:
    - poetry run mypy src

check_lint_frontend:
  extends: .frontend
  stage: check
  script:
    - yarn eslint --max-warnings 0 "src/**/*.ts" "src/**/*.tsx"

check_lint_backend:
  extends: .backend
  stage: check
  script:
    - poetry run pylint src

check_format_frontend:
  extends: .frontend
  stage: check
  script:
    - yarn run prettier --check "src/**/*.ts" "src/**/*.tsx"

check_format_backend:
  extends: .backend
  stage: check
  script:
    - poetry run isort --profile black --check src
    - poetry run black --check src

unit_test_frontend:
  extends: .frontend
  stage: test
  script:
    - echo "Testing"
    # - yarn test

unit_test_backend:
  extends: .backend
  stage: test
  script:
    - echo "Testing"
    - NO_DATABASE=true poetry run pytest --verbose tests

deploy_staging_frontend:
  extends: .deploy
  # Need to make sure backend app is deployed
  # otherwise network alias speed-reader-backend.web cannot be resolved.
  needs: [deploy_staging_backend]
  only: [master]
  variables:
    BRANCH: staging
    GIT_REMOTE_URL: $STAGING_URL/speed-reader-frontend
    GIT_PUSH_FLAGS: -f

deploy_staging_backend:
  extends: .deploy
  only: [master]
  variables:
    BRANCH: staging
    GIT_REMOTE_URL: $STAGING_URL/speed-reader-backend
    GIT_PUSH_FLAGS: -f

deploy_prod_frontend:
  extends: .deploy
  needs: [deploy_prod_backend]
  only: [tags]
  except: [branches]
  variables:
    BRANCH: master
    GIT_REMOTE_URL: $PROD_URL/speed-reader-frontend
    GIT_PUSH_FLAGS: -f

deploy_prod_backend:
  extends: .deploy
  only: [tags]
  except: [branches]
  variables:
    BRANCH: master
    GIT_REMOTE_URL: $PROD_URL/speed-reader-backend
    GIT_PUSH_FLAGS: -f

[ms2921/#85] Create skeleton for available_text endpoint
  backend/src/routers/user.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[ms2921/#85] Create logic for collecting available texts
  backend/src/models/history.py
  backend/src/routers/user.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[ms2921/#85] Add pagination for querying texts
  backend/src/models/history.py
  backend/src/routers/user.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[ms2921/#85] Add custom sorting and filtering criteria for endpoint
  backend/src/models/text.py
  backend/src/routers/user.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tk3718/#19] Add Score Component for results page
  frontend/src/components/Results/Score.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tk3718/#19] Add Components / View for Standard Sub Mode
  frontend/src/components/Preview/HighlightWords.tsx
  frontend/src/components/Preview/ModeDescription.tsx
  frontend/src/components/Preview/Peripheral.tsx
  frontend/src/components/Preview/WordByWord.tsx
  frontend/src/components/Results/Score.tsx
  frontend/src/views/StandardMode/StandardSubMode.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tk3718/#19] Format code using Prettier
  frontend/src/components/Results/Score.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tk3718/#19] Add Play Again and Change Game Mode Components
  frontend/src/components/Results/ChangeGameMode.tsx
  frontend/src/components/Results/PlayAgain.tsx
  frontend/src/components/Results/ResultsBottom.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tk3718/#19] Remove {} type for Results Bottom
  frontend/src/components/Results/ResultsBottom.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tk3718/#73] Remove {} Change Carousel index and add footer to difficulty page
  frontend/src/components/Carousel/Carousel.tsx
  frontend/src/views/GameScreen/GameScreen.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tk3718/#19] Add User ID and Logout Component for UserDashBoard
  frontend/src/components/Button/LogOut.tsx
  frontend/src/components/User/UserDashboardTop.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[ms2921/#87] Setup pipeline to aggregate user metrics for endpoint
  backend/src/database.py
  backend/src/models/user.py
  backend/src/routers/user.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[ms2921/#87] Reformat code and add support for time series data
  backend/src/database.py
  backend/src/models/user.py
  backend/src/routers/user.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tk3718/#19] Add QuestionAnswer component for Results (Post Game and UserDashBoard)
  frontend/src/components/Results/QuestionAnswer.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tk3718/#19] Format using Prettier
  frontend/src/components/Results/QuestionAnswer.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tk3718/#19] Adjust border line width and radius
  frontend/src/components/Results/QuestionAnswer.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tk3718/#19] Add structure to results page view
  frontend/src/views/Results/ResultsPage.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tk3718/#19] Add structure to results page view and change fontSizing for ResultsBottom
  frontend/src/components/Results/ResultsBottom.tsx
  frontend/src/views/Results/ResultsPage.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tm821/#10] Add Postgres and MongoDB test containers to docker-compose.yml
  docker-compose.yaml
Due: init

[tm821/#10] Remove redundant flags and env var in production Dockerfile
  backend/Dockerfile
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#10] Rename DATABASE_URL to POSTGRES_URL for clarity
  backend/src/database.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#10] Replace env vars for testing Postgres and MongoDB URLs in conftest.py
  backend/tests/conftest.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#10] Update .gitlab-ci.yml to use Docker-in-Docker to access testing DB services
  .gitlab-ci.yml
Due: init

[tm821/#10] Use CMD in development Dockerfile for frontend so that it can be overridden in CI
  frontend/Dockerfile.dev
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tm821/#10] Update pre-push hooks to run checks inside Docker containers
  .githooks/pre-push
Due: init

[tm821/#10] Disable TTY when running pre-push hooks
  .githooks/pre-push
Due: init

[tm821/#10] Add default private tag for CI jobs
  .gitlab-ci.yml
Due: init

[tm821/#10] Avoid using try/catch in get_next_text endpoint
  backend/src/routers/game.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#10] Disable warnings for pytest runs because they should be checked by linters
  .githooks/pre-push
  .gitlab-ci.yml
Due: init

[tm821/#114] Merge check jobs to avoid redundant docker build
  .gitlab-ci.yml
Due: init

[tm821/#114] Remove no longer relevant init stage in CI
  .gitlab-ci.yml
Due: init

[tm821/#114] Explicitly specify Docker Hub Registry mirror in .gitlab-ci.yml
  .gitlab-ci.yml
Due: init

[tm821/#114] Run checks in pipeline using docker compose run instead of exec
  .githooks/pre-push
  .gitlab-ci.yml
Due: init

[tm821/#114] Add -T flag to docker compose run
  .githooks/pre-push
Due: init

[tm821/#114] Use docker compose exec instead of docker compose run
  .githooks/pre-push
Due: init

[tm821/#114] Fix remaining use of docker compose exec in pipeline
  .gitlab-ci.yml
Due: init

[tm821/#114] Use -it instead of -T in pre-push hooks
  .githooks/pre-push
Due: init

[tm821/#114] Correct the venv location of Poetry inside container
  docker-compose.yaml
Due: init

[tm821/#114] Restructure .gitlab-ci.yml using GitLab services
  .gitlab-ci.yml
Due: init

[tm821/#114] Avoid syncing node_modules and .venv with host machine
  docker-compose.yaml
Due: init
