Repository mithun-sri/speed-reader: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init, typecheck_frontend, typecheck_backend, check_lint_frontend, check_lint_backend, check_format_frontend, check_format_backend, unit_test_frontend, unit_test_backend

.gitlab-ci.yml:

stages:
  - init
  - check
  - test
  - deploy

variables:
  # Disable shallow clone which is not supported by Dokku.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0
  STAGING_URL: ssh://dokku@cloud-vm-42-173.doc.ic.ac.uk:22
  PROD_URL: ssh://dokku@cloud-vm-42-228.doc.ic.ac.uk:22

# Dummy job that always passes
# so that MRs without any pipeline runs can be merged.
# https://stackoverflow.com/questions/69799364/in-gitlab-how-to-set-pipelines-must-succeed-only-for-specific-branches-but-no
init:
  stage: init
  except:
    changes:
      - frontend/**/*
      - backend/**/*
  script:
    - echo "Initialising"

.frontend:
  tags: [private]
  image: node:21
  only:
    changes:
      - frontend/**/*
  cache:
    - key:
        files:
          - frontend/yarn.lock
      paths:
        - frontend/node_modules
  before_script:
    - cd frontend
    - yarn install

.backend:
  tags: [private]
  image: python:3.12
  only:
    changes:
      - backend/**/*
  cache:
    - key:
        files:
          - backend/poetry.lock
      paths:
        - backend/.venv
  before_script:
    - cd backend
    - pip install poetry==1.6.1
    - poetry config virtualenvs.in-project true
    - poetry install

.deploy:
  tags: [private]
  image: dokku/ci-docker-image
  stage: deploy
  script:
    - dokku-deploy
  after_script:
    - dokku-unlock

typecheck_frontend:
  extends: .frontend
  stage: check
  script:
    - yarn tsc --noEmit

typecheck_backend:
  extends: .backend
  stage: check
  script:
    - poetry run mypy src

check_lint_frontend:
  extends: .frontend
  stage: check
  script:
    - yarn eslint --max-warnings 0 "src/**/*.ts" "src/**/*.tsx"

check_lint_backend:
  extends: .backend
  stage: check
  script:
    - poetry run pylint src

check_format_frontend:
  extends: .frontend
  stage: check
  script:
    - yarn run prettier --check "src/**/*.ts" "src/**/*.tsx"

check_format_backend:
  extends: .backend
  stage: check
  script:
    - poetry run isort --profile black --check src
    - poetry run black --check src

unit_test_frontend:
  extends: .frontend
  stage: test
  script:
    - echo "Testing"
    # - yarn test

unit_test_backend:
  extends: .backend
  stage: test
  script:
    - echo "Testing"
    - NO_DATABASE=true poetry run pytest --verbose tests

deploy_staging_frontend:
  extends: .deploy
  # Need to make sure backend app is deployed
  # otherwise network alias speed-reader-backend.web cannot be resolved.
  needs: [deploy_staging_backend]
  only: [master]
  variables:
    BRANCH: staging
    GIT_REMOTE_URL: $STAGING_URL/speed-reader-frontend
    GIT_PUSH_FLAGS: -f

deploy_staging_backend:
  extends: .deploy
  only: [master]
  variables:
    BRANCH: staging
    GIT_REMOTE_URL: $STAGING_URL/speed-reader-backend
    GIT_PUSH_FLAGS: -f

deploy_prod_frontend:
  extends: .deploy
  needs: [deploy_prod_backend]
  only: [tags]
  except: [branches]
  variables:
    BRANCH: master
    GIT_REMOTE_URL: $PROD_URL/speed-reader-frontend
    GIT_PUSH_FLAGS: -f

deploy_prod_backend:
  extends: .deploy
  only: [tags]
  except: [branches]
  variables:
    BRANCH: master
    GIT_REMOTE_URL: $PROD_URL/speed-reader-backend
    GIT_PUSH_FLAGS: -f

[djs21/#10] Add tests for answers endpoint
  backend/src/routers/game.py
  backend/tests/test_backend.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#109] Make sure duplicate question answers cannot be submitted
  backend/src/routers/game.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[djs21/#10] Fix incorrect superclass of TestAnswers
  backend/tests/test_backend.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[ms2921/#86] Connect MongoEngine to database and create model for user
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/database.py
  backend/src/models/user.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#110] Make node_modules sync with local rather than storing in volume
  docker-compose.yaml
Due: init

[ms2921/#86] Create model for history collection
  backend/src/models/history.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#106] Add TODO comments to files where conflicts are likely
  backend/src/routers/admin.py
  backend/src/routers/auth.py
  backend/src/routers/user.py
  backend/src/schema/user.py
  backend/src/services/auth.py
  backend/src/utils/security/auth.py
  backend/src/utils/security/crypt.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#106] Add schemas for question and text endpoints
  backend/src/schema/question.py
  backend/src/schema/text.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#106] Simplify config module by getting rid of redundant config.toml
  backend/src/config.py
  backend/src/config/__init__.py
  backend/src/config/config.toml
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#106] Rename schema/ directory to schemas/ for consistency
  backend/src/schemas/__init__.py
  backend/src/schemas/question.py
  backend/src/schemas/text.py
  backend/src/schemas/token.py
  backend/src/schemas/user.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

Fix format with Prettier
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/views/GameScreen/GameScreen.tsx
  frontend/src/views/ModeSelect/ModeSelect.css
  frontend/src/views/PreGame/PreGame.css
  frontend/src/views/Quiz/Quiz.css
  frontend/src/views/StandardMode/StandardMode.css
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tm821/#108] Merge check/format/lint stages into one for performance
  .gitlab-ci.yml
Due: init

[tm821/#106] Make get_random_text endpoint return a single text
  backend/src/routers/game.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#106] Update how models and schema imports for consistency
  backend/src/factories/question.py
  backend/src/factories/text.py
  backend/src/models/__init__.py
  backend/src/schema/__init__.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#106] Refactor game endpoints
  backend/src/routers/game.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tk3718/#73] Fixed unused import
  frontend/src/views/PreGame/PreGame.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tm821/#106] Fix imports from schemas module
  backend/src/routers/game.py
  backend/src/services/auth.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tk3718/#73] Fixed Slider to look like mockup
  frontend/src/components/Button/StartButton.tsx
  frontend/src/components/Slider/Slider.tsx
  frontend/src/components/Slider/SliderRateText.tsx
  frontend/src/views/PreGame/PreGame.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[ms2921/#86] Reformat backend and ignore type checking for mongoengine
  backend/mypy.ini
  backend/src/database.py
  backend/src/models/history.py
  backend/src/models/user.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[cyw321/#70] Update Carousel to take in custom title
  frontend/src/components/Carousel/Carousel.tsx
  frontend/src/views/ModeSelect/ModeSelect.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[ms2921/#86] Restructure database.py and add exception to session handling
  backend/src/database.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[ms2921/#86] Reformat backend
  backend/src/database.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[cyw321/#70] Add key to component array
  frontend/src/views/GameScreen/GameScreen.tsx
  frontend/src/views/PreGame/PreGame.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[djs21/#10] Remove NO_DATABASE flag
  .gitlab-ci.yml
  backend/src/database.py
  backend/tests/test_backend.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[cyw321/#70] Fix empty white background on screen
  frontend/src/App.tsx
  frontend/src/index.css
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[djs21/#10] Add session fixture
  .gitlab-ci.yml
  backend/src/cli.py
  backend/src/database.py
  backend/tests/conftest.py
  backend/tests/test_backend.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#10] Fix table not found error and refactor using fixtures
  backend/tests/test_backend.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#10] Re-export factories
  backend/src/factories/__init__.py
  backend/src/models/__init__.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#10] Avoid using get_session in CLI
  backend/src/cli.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#10] Make sure tests directory is synced with local
  docker-compose.yaml
Due: init

[tm821/#10] Move fixtures to conftest.py
  backend/tests/conftest.py
  backend/tests/test_backend.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#10] Remove debug print in session fixture
  backend/tests/conftest.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#10] Rename test_backend.py to test_game.py
  backend/tests/test_game.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#108] Fix get_questions endpoint to return 3 random questions
  backend/src/routers/game.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#109] Make sure all question answers belong to the same text in submit_answers
  backend/src/routers/game.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[tm821/#109] Rename get_text/get_questions to get_next_text/get_next_questions for better semantics
  backend/src/routers/game.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[cyw321/#70] Implement difficulty selection screen, and finish up game user story
  frontend/src/common/constants.tsx
  frontend/src/components/Button/StartButton.tsx
  frontend/src/components/Slider/Slider.tsx
  frontend/src/context/GameContext.tsx
  frontend/src/views/GameScreen/GameScreen.tsx
  frontend/src/views/PreGame/PreGame.tsx
  frontend/src/views/StandardMode/StandardMode.tsx
Due: typecheck_frontend, check_lint_frontend, check_format_frontend, unit_test_frontend

[tm821/#109] Add docstring comments for each endpoint
  backend/src/routers/game.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[ms2921/#112] Create custom exceptions for authentication
  backend/src/services/auth.py
  backend/src/services/exceptions.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend

[ms2921/#112] Add exception handlers to return response
  backend/src/main.py
  backend/src/services/auth.py
  backend/src/services/exception_handlers.py
  backend/src/services/exceptions.py
Due: typecheck_backend, check_lint_backend, check_format_backend, unit_test_backend
